:root {
    --bulma-primary-h: #0057A6;
    --bulma-body-color: #000000!important;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------------------------------------HOME STYLES---------------------------------------------------------------------------*/
/*-------------------------NAVBAR STYLES-------------------------*/
#navbar_section{
    background-color: #e5e5e5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar_row {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.nav_menu, .nav_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    margin-left: 20px;
    color: #0057A6;
    padding: 5px;
    border-radius: 5px;
}

.nav_link:hover {
    background-color: #b9c7bd;
}

#logo {
    max-height: 75px;
}

/*-------------------------HERO STYLES-------------------------*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/home/home_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home_hero .title, #hero_bluehills .title, #hero_oakpark .title, #hero_mannheim .title, #hero_bluehills2 .title, #hero_vineyards .title,  #hero_oakpark2 .title {
    color: #ffffff!important;
    letter-spacing: 5!important;
}

#home_hero .subtitle, #hero_bluehills .subtitle, #hero_oakpark .subtitle, #hero_mannheim .subtitle, #hero_bluehills2 .subtitle, #hero_vineyards .subtitle, #hero_oakpark2 .subtitle {
    color: hsl(222 15% 71% / 1)
}

/*-------------------------ABOUT US STYLES-------------------------*/
#about_us_row {
    width: 80%;
    margin: auto;
}

#about_us_section {
    padding: 50px 0;
    background-color: #e5e5e5;
    color: #000000!important;
}

#about_us_section .title {
    font-size: 28px;
    color: #000000;
}

#about_us_text {
    padding-right: 40px;
}

#about_us_image {
    display: flex;
    align-items: center;
}

/*-------------------------PROPERTIES STYLES-------------------------*/
#properties_section {
    padding: 50px 0;
    background-color: #0057A6;
    color: #ffffff!important;
}

#properties_header {
    display: flex;
    justify-content: center;
    padding-bottom: 38px;
}

#properties_header .title {
    font-size: 28px;
    color: #ffffff!important;
}

#featured_properties {
    width: 80%;
    margin: auto;
}

.card-header-title {
    display: flex;
    justify-content: center;
}

.card-footer-item, #featured_properties .card-header-title {
    color: #ffffff!important;
}

.card {
    --bulma-card-footer-background-color: hsl(0,0%,0%)!important;
    --bulma-card-header-background-color: hsl(0,0%,0%)!important;
}

.card-header, .card-footer {
    background-color: var(--bulma-card-footer-background-color);
    background-color: var(--bulma-card-header-background-color);

}

.card-footer:hover {
    background-color: #b9c7bd;
}

/*-----------------------FOOTER STYLES---------------------------*/
.footer {
    --bulma-footer-background-color: #e5e5e5!important ;
    --bulma-footer-padding: 50px 25px!important;
    background-color: var(--bulma-footer-background-color);
    padding: var(--bulma-footer-padding);
    color: var(--bulma-body-color);
}

#footer_section .columns {
    width: 80%;
    margin: auto;
}

#footer_section .column p {
    margin-bottom: 0px;
}


/*---------------------------------------------------------------------------INDV HOMES PAGES STYLES---------------------------------------------------------------------------*/
#indv_home_section {
    padding-top: 50px;
    background-color: #e5e5e5;
    padding-bottom: 38px;
}

#hero_bluehills, #hero_oakpark, #hero_troostwood, #hero_mannheim, #hero_bluehills2, #hero_vineyards, #hero_oakpark2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero_oakpark2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/oakpark2/Oakpark2_Hero.jpg");
}

#hero_vineyards {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/vineyards/Vineyards_Hero.jpg");
}

#hero_bluehills2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bluehills2/Bluehills2_Hero.jpg");
}

#hero_bluehills {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bluehills/bluehills_hero.jpg");
}

#hero_oakpark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/oakpark/oakpark_hero.jpg");
}

#hero_troostwood {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/troostwood/troostwood_hero.jpg");
}

#hero_mannheim {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/mannheim/Mannheim_Hero.jpg");
}

#indv_home_row {
    width: 80%;
    margin: auto;
    max-width: 1080px;
}

#indv_home_row .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#indv_home_row .title {
    color: #000000;
    margin-bottom: 50px;
    font-size: 32px;
}

.before_large, .after_large {
    margin-bottom: 24px;
}

/*-------------------------RESPONSIVE STYLES-------------------------*/
@media screen and (max-width: 650px) {
    .navbar_row {
        padding: 10px;
    }

    .nav_link {
        font-size: 12px;
        margin-left: 10px;
    }

    .title {
        font-size: 20px!important;
        color: #ffffff;
    }

    .subtitle {
        font-size: 14px!important;
    }

    #about_us_text {
        padding-right: 12px;
    }

    #about_us_text h2 {
        display: flex;
        justify-content: center;
    }

    #bluehills_row .title {
        margin-bottom: 24px;
        font-size: 28px;
    }

    #bluehills_section {
        padding-top: 24px;
    }
    #bluehill_before {
        margin-bottom: 26px;
    }
}